extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let shopperstopid = toShow._id
    - let Itemname = toShow.Itemname 
    - let Quantity = toShow.Quantity 
    - let price = toShow.price 
    - let actionid = "/resource/shopperstops/" + shopperstopid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='shopperstopAttr mr-3') Item ID is: 
        div #{shopperstopid} 
      div.row 
        div(class='shopperstopAttr mr-3') Item name is: 
        div #{Itemname} 
      div.row 
        div(class='shopperstopAttr mr-3') Item quantity is: 
        div #{Quantity} 
      div.row 
        div(class='shopperstopAttr mr-3') Item Cost is: 
        div #{price} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
        function cancel() { 
            // Go back to the home page for the costume collection 
            window.location.href='/shopperstop' 
        } 
  script. 
        function deleteOnid() { 
        console.log("starting delete") 
        // delete first 
        fetch(actionid, { 
            method: 'DELETE'
        }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/shopperstop' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 